Language: Cpp
ColumnLimit: 260
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BitFieldColonSpacing: None
BreakBeforeBraces: Allman
#BreakArrays: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
IncludeBlocks: Merge
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
#InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
#LineEnding: LF
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: After
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 4
